<div class="background-landing">
  <div class=" text-center">
    <p class="subtitle pt-4">
      Your favourite day of the week
    </p>
    <h1 class="display-4 mt-5">SOUNDAY</h1>

    <div class="subtitle d-flex justify-content-between">
<p class="w-25 m-5 p-3">Are you a concert addict and don't want to lose any event? </p><p class="w-25 m-5 p-3">Are you an artist and want to keep your fans updated on your events?</p>
  </div><div>
  <p class="subtitle">Join us!
</p> </div>
<div class="pb-5">
    <a class="btn btn-lg text-white me-5" routerLink="/login" role="button"
      >Login</a
    >
    <a class="btn  btn-lg text-white" routerLink="/register" role="button"
      >register</a
    ></div>
  </div>
</div>
