
h1 {
  font-family: 'Playfair Display', serif;
  font-size: 170px;
  font-weight: 700;
  line-height: 1.5;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
  transition: text-shadow 0.5s ease-in-out;
}


h1:hover {
  text-shadow:
    3px 3px 5px rgba(0,34,136,1),
    6px 6px 10px rgba(0,93,200,0.723),
    9px 9px 15px rgba(2,138,195,0.76),
    12px 12px 20px rgba(0,202,178,0.762),
    15px 15px 25px rgba(199,8,173,0.76),
    18px 18px 30px rgba(183,76,127,0.485),
    21px 21px 35px rgba(144,25,183,1);
}

.subtitle
{
   text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
   text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);


}


//login register btn
.auth-btn a {
  font-size: 2rem;
  border-radius: 5px;
  text-decoration: none;
  border: 2px solid #fff;
  background-color: rgba(33, 37, 41, 0.8);
  backdrop-filter: blur(8px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease-in-out;
}

.auth-btn a:hover {
  background-color: rgba(33, 37, 41, 0.2);}









.background-landing{ background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2)),
  url("./image/landingpage2.jpg");
background-position: center center;
background-attachment: fixed;

background-repeat: no-repeat;
background-size: cover;
color: white;
}
