<div class="background">
  <div class=" text-center">
    <p class="subtitle mt-5">
      Your favourite day of the week
    </p>
    <h1 class="display-4">SOUNDAY</h1>

    <div class="d-flex justify-content-between">
<p>Are you a concert addicted and don't want to lose any event? </p><p>Are you an artist and wants to keep your fans updated with your events?</p>
  </div>
  <p>Join us!
</p>
    <hr class="my-4" />
    <a class="btn btn-lg" routerLink="/login" role="button"
      >Login</a
    >
    <a class="btn  btn-lg" routerLink="/register" role="button"
      >register</a
    >
  </div>
</div>
