<div class="container my-5">
  <div *ngFor="let event of events">
    <div class="card">
      <h5 class="card-title">{{ event.artistName }}</h5>
      <li class="list-group-item">
      </li>
      <div class="gradient-line"></div>

      <li class="list-group-item">{{ event.title }}</li>
      <li class="list-group-item">{{ event.city }}</li>
      <li class="list-group-item">{{ event.eventDate | date: 'longDate' }}</li>
      <div class="gradient-line"></div>

      <button *ngIf="isLoggedIn" (click)="toggleLike(event)">
        {{ event.likedByCurrentUser ? 'UNLIKE EVENT' : 'LIKE EVENT' }}
      </button>
    </div>
  </div>
</div>
