<div class="background">

<div class="  d-flex justify-content-between align-items-center"><h1 class="toptitle">WELCOME BACK, ARTIST!</h1><button class="btn-top-right" onclick="updateArtistImage()">Update Artist Image</button></div>



<button  (click)="openAddEventModal()" class="btn-add-event">Add new events</button></div>
<div class="container my-5">
<p>Your events</p>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ event.city }}</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ event.eventDate | date }}</li>
      <li class="list-group-item">{{ event.tourName }}</li>
      <!-- Aggiungi qui il numero di like se disponibile -->
    </ul>
    <div class="card-body">
      <button class="btn btn-primary" (click)="editEvent()">Edit</button>
    </div>
  </div>
</div>




<div class="gradient-line my-5"></div>

<div>
<p>Past events</p>
<div class="card ">
  <div class="card-body">
    <h5 class="card-title">CITY</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">date</li>
    <li class="list-group-item">TOUR TITLE</li>    <li class="list-group-item">3445 attended</li>

  </ul>
 </div>
</div>

</div>
<div class="gradient-line my-5"></div>
<div>
<p>Your best fans</p>
<div class="card ">
  <div class="card-body">
    <h5 class="card-title">FANGIRL</h5>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">attended 45 concerts</li>


  </ul>
  </div>
</div></div>
