<nav class="navbar navbar-expand-lg">
  <div class="container-fluid px-5">
    <a class="navbar-brand" href="#"
       >

       <img class="logo" src="https://media.discordapp.net/attachments/1224995749545377884/1258510897568026725/2.png?ex=66884f1b&is=6686fd9b&hm=4da1ed780ef33be1e65304ed14ac2c93552ce8b6d648369dfc09a62b4b886405&=&format=webp&quality=lossless" alt="logo">

       </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link text-white"
            aria-current="page"
            href="#"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/events']" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/user']" href="#">Fans</a>
        </li><li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/artist']" href="#">Artist</a>
        </li>

      </ul>
      <div class="d-flex">
        <li class="nav-item" *ngIf="userLogged">
          <a
            class="nav-link text-white me-3"
            [routerLink]="['/profile']"
            routerLinkActive="active"
            >Profilo</a
          >
        </li>
        <li class="nav-item" *ngIf="userLogged">
          <button class="btn btn-outline-danger" (click)="logout()">
            Logout
          </button>
        </li>

        <li class="nav-item" *ngIf="!userLogged">
          <a
            class="nav-link text-white"
            [routerLink]="['/login']"
            routerLinkActive="active"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="!userLogged">
          <a
            class="nav-link text-white"
            [routerLink]="['/register']"
            routerLinkActive="active"
            >Sign up</a
          >
        </li>
      </div>

  </div>
    </div>

</nav>
