<nav class="navbar navbar-expand-lg">
  <div class="container-fluid px-5">
    <a class="navbar-brand" href="#">
      <img class="logo" src="https://res.cloudinary.com/dggqbfush/image/upload/v1720275085/7_n7xwuj.png" alt="logo">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/events']" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/show-artists']">Our Artists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/user']" href="#">Fan Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['/artist']" href="#">Artist Profile</a>
        </li>
      </ul>
      <div class="d-flex list-unstyled">
        <li class="nav-item mx-3" *ngIf="!user">
          <a class="nav-link text-white" [routerLink]="['/login']" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item ml-3" *ngIf="!user">
          <a class="nav-link text-white" [routerLink]="['/register']" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item" *ngIf="user">
          <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
        </li>
      </div>
    </div>
  </div>
</nav>
