<div class="modal-header">
  <h4 class="modal-title">Add New Event</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="mb-3">
    <label for="tourName" class="form-label">Tour Name</label>
    <input type="text" class="form-control" id="tourName" [(ngModel)]="event.title">
  </div>
  <div class="mb-3">
    <label for="eventDate" class="form-label">Event Date</label>
    <input type="date" class="form-control" id="eventDate" [(ngModel)]="formattedEventDate">
  </div>
  <div class="mb-3">
    <label for="dateTime" class="form-label">Event Time</label>
    <input type="time" class="form-control" id="dateTime" [(ngModel)]="formattedEventTime">
  </div>
  <div class="mb-3">
    <label for="city" class="form-label">City</label>
    <input type="text" class="form-control" id="city" [(ngModel)]="event.city">
  </div>
  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input type="text" class="form-control" id="location" [(ngModel)]="event.location">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cancel click')">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
