footer
{height: 100px;
  background: rgb(144,25,183);
background: linear-gradient(90deg, rgba(144,25,183,1) 0%, rgba(183,76,127,0.48503151260504207) 4%, rgba(199,8,173,0.7595413165266106) 15%, rgba(0,202,178,0.76234243697479) 52%, rgba(2,138,195,0.7595413165266106) 72%, rgba(0,93,200,0.7231267507002801) 83%, rgba(0,34,136,1) 95%);}
.soundayfooter{width: 200px;}
