.card
{max-width: 200px;}



.search-bar {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.search-results {
  position: absolute;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-results li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.search-results li:last-child {
  border-bottom: none;
}
