

.background{ background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2)),
  url("./image/fan.jpg");
  filter: contrast(1.75) grayscale(100%);
}

.search-bar {
  position:absolute;

  left: 50%;
  bottom:0%;
  transform: translate(-50%, -50%);
  width: 800px;
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.search-results {
  position: absolute;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-results li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.search-results li:last-child {
  border-bottom: none;
}






//I WILL BE THERE BTN


.btn {
  padding: 0.9em 1.6em;
  border: none;
  outline: none;
  color: #FFF;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
 }

 .btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1A1A1C;
  left: 0;
  top: 0;
  border-radius: 10px;
 }
 /* glow */
 .btn::before {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(144, 25, 183, 1) 5%,
    rgba(183, 76, 127, 1) 10%,
    rgba(199, 8, 173, 1) 15%,
    rgba(0, 202, 178, 1) 52%,
    rgba(2, 138, 195, 1) 72%,
    rgba(0, 93, 200, 1) 83%,
    rgba(72, 12, 150, 1) 95%,
    rgba(144, 25, 183, 1) 100%
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
 }

 @keyframes glowing {
  0% {
   background-position: 0 0;
  }

  50% {
   background-position: 400% 0;
  }

  100% {
   background-position: 0 0;
  }
 }

 /* hover */
 .btn:hover::before {
  opacity: 1;
 }


